*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background{
    background-color: black;
    width:100%;
    height: 30rem;
    background-image: url(./img/resturant.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.header{
    background-color: white;
    width: 100%;
    height: 4rem;
    /* display: inline-block; */
    
}
.ul{
    list-style: none;
    display: inline-block;
    
}
.ul li{
    display:flex;
    display: inline-block;
    margin-left: 50px;
     font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.logo{
    color: black;
    display: inline-block;
    padding: 15px 300px 25px 20px;
    font-size: 2.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
li:hover{
    cursor: pointer;
    border-bottom: 4px solid rgb(255, 217, 0);
}
.p{
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:rgb(252, 250, 250);
     font-size: 2.5rem;
     height: 80%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.p1{
    color: rgb(251, 234, 4);
     font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* border: 1px solid black; */
}
.button{
    background: linear-gradient(red, yellow );
    padding: 20px 30px 20px 30px;
    border-radius: 50px;
    margin-top: 2rem;
    border: 0;

}
.block2{
    width: 100%;
    height: 35rem;
    background: linear-gradient(to top right, yellow, white);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.b1{
    width: 35rem;
    height: 30rem;
    background-color:rgb(201, 251, 167) ;
    border-radius: 50px;
    border-bottom: 2px solid red;
    border-top: 2px solid black;
}
.about{
   margin-top: 3rem;
   margin-left: 2rem;
   font-size: 2rem;
}
.we{
    margin-left: 2rem;
    font-size: 1.5rem;

}
.text{
    margin-left: 2rem;
    margin-top: 10px;
}
.fruits{
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 50px;
}
.block3{
    height:50rem;
    width: 100%;
    display: flex;
    background-color: white;
    padding: 3rem 5rem ;
    /* border: 2PX SOLID RED; */
      flex-wrap: wrap;
      /* flex-direction: column; */
      justify-content: space-between;
      gap: 2rem;
}
.food{
    /* margin-left: 30rem; */
    margin-top: 3rem;
    
}
.circle1{
    width: 10rem;
    height: 12rem;
    background-color: black;
    border-radius: 100%;
    

  
  
}
.h1{
    text-align: center;
}
.circle2{
     width: 10rem;
    height: 10rem;
    background-color: rgb(254, 252, 252);
    /* padding; */


}
.menuepic{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.t1{
    text-align: center;
    margin-top: 10px;
}
   .t2{
    margin-left: 15px;
    font-size: 20px;
   } 
 .circle3{
  width: 10rem;
    height: 12rem;
    background-color: black;
    border-radius: 100%;

 }  
 .li1{
    width: 31rem;
    height:11rem;
    background-color: white;
    display: flex;
    padding: 10px;
    /* border: 2px solid red; */
    
    
 }

.block4{
    height: 35rem;
    width: 100%;
    background-color: gainsboro;
    display: flex;
    padding:2.5rem 1rem 1rem 2rem;
}
.div{
    height: 30rem;
    width: 37rem;
    background-color: rgb(159, 158, 158);
    
}
.building{
    width: 100%;
    height: 100%;
}
.contact{
    margin-top: 2rem;
    margin-left: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.name{
    border: 0;
    width: 35rem;
    margin-top: 3rem;
    margin-left: 15px;
    height: 30px;
}
.email{
     border: 0;
    width: 35rem;
    margin-top: 10px;
    margin-left: 15px;
    height: 30px;
    
}
.what{
      border: 0;
    width: 35rem;
    margin-top: 10px;
    margin-left: 15px;
    height: 30px;
    height: 10rem;
    
    
}
.submite{
    margin-top: 1.5rem;
    margin-left: 1rem;
    padding: 15px 15px 15px 15px;
    background-color: palegreen;
    border-radius: 25px;
    border: 0;
    
}
.block5{
    height: 5rem;
    width: 100%;
    background-color:gainsboro;
   
}
.responce{
    text-align: center;
    color: gray;
    /* margin-top:5rem; */
    font-size:2rem;
    padding: 35px;
}
.man{
    height: 16rem;
    width: 18rem;
    border: 2px solid rgb(11, 11, 11);
    margin-left: 3rem;
    border-radius: 10px;
    background-color: white;
}
.block6{
     height: 20rem;
    width: 100%;
    background-color:gainsboro;
   display: flex;
   padding: 2rem 10rem 2rem 10rem;
}
.lorem{
    text-align: center;
    margin-top: 10px;
    font-size: 1.5rem;

}
.pic6{
    width: 6rem;
    height: 6rem;
    /* border: 2px solid rgb(14, 13, 13); */
   margin-left: 5.5rem;
   margin-top: 0.5rem;
   border-radius: 100%;
}
.png{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: black;
}
.very{
    margin-left: 6rem;
}
.block7{
    background-color: black;
    width: 100%;
    height: 6rem;
     display: flex;
   justify-content: center;
   align-items: center;
}
.end{
    color: white;
   
   /* align-items: center; */
    font-size: 2rem;
    
}





@media (min-width: 0px) and (max-width: 500px) {
    .block2 {
        flex-direction: column;
        background-color: red;
       
    }
    .b1 {
        background-color: greenyellow; width: 20rem;
        margin-top: 20px;
        height: 20rem;
        
    }
    .text{
        font-size:10px;
    }
    .about{
        font-size: 20px;
        margin-top: 10px;
    }
    .block3{
        height: 83rem;
    }
    .div{
        width: 25rem;
        height: 25rem;
        /* flex-direction: column; */
    }
    .block4{
        flex-direction: column;
        height: 56rem;
    }
    .name{
        width: 23rem;
        margin-top: 10px;
    }
    .email{
        width: 23rem;
    }
    .contact{
        margin-top: 10px;
    }
    .what{
        width: 23rem;
    }
    .submite{
        margin-top: 5px;
    }
    .block6{
        flex-direction: column;
        height: 53rem;
    }
    .man{
        margin-left: -4rem;
        margin-top: 5px;
    }
    .logo{
        font-size: 20px;
        padding: 5px 10px 5px 5px;
    }
    .ul li{
        font-size: 12px;
        margin-left: 15px;
    }
    .header{
        height: 2.5rem;
    }
}