*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background{
    width:100%rem;
    height:35rem;
    background-color: red;
    background-image: url(img/header-img.jpg);
    
    
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 0;
    
    
    
}
.header{
    margin: 0;
    padding: 0;
    display: inline-block;
    /* width: 50rem; */
}
.logo{
    color: rgb(245, 240, 240);
    font-size: 4rem;
    display: inline-block;
    padding: 20px 0 20px 20px;
    
    
    
}
.ul{
    list-style: none ;
    display: inline-block;
    color: white;
    margin-left: 450px;
    font-size: 20px;
}
.ul li{
    display: inline-block;
    margin-left:3rem;

}
.LOGO2{
    color: WHITE;
    margin-top: 7REM;
    margin-left: 30REM;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.p{
    margin-top: 1.5REM;
    margin-left:25REM;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
.p2{
    color: white;
    margin-top: 2.5rem;
    margin-left: 37.5rem;

}
.button{
    margin-top:1rem;
    margin-left:33REM;
    border: 0;
    border-radius: 30px;
    width: 14rem;
    height: 40px;
    color: red;
    padding: 20px 30px 30px 30px;


}
.block2{
    width: 100%;
    background-color: rgb(170, 169, 169);
    height: 25rem;
    display: flex;
    
}
.block3{
     width: 100%;
    background-color: rgb(170, 169, 169);
    height: 25rem;
    display: flex;

}
.box{
    width:35rem;
    height:18rem;
    background-color: black;
    /* margin: 5px ; */
    margin-left: 5rem;
    margin-top:5rem;
    


}
.box2{
    margin-left:0 ;
}

.box4{
    margin-left: 0;
    background-color: white;
}
.box1{
     background-color: white;

}
.LOGO1{
    padding: 20px;
    
}
.p1{
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
}
.button1{
    margin-top: 1rem;
    margin-left: 3rem;
    padding: 10px 15px 10px 15px;
    border: 2px solid orange;
    border-radius:2rem;
}

    

.usa {
    width: 100%;
    height: 100%;
}
.london{
    width: 100%;
    height: 100%;
}
.block4{
    width: 100%;
    height: 28rem;
    background-color: rgb(248, 245, 245);
    display: flex;
    align-items: center;
    justify-content: center;
}
.box0{
    width: 24.5rem;
    height: 18rem;
    background-color: rgb(12, 2, 63);
   
}
.box9{
    background-color: red;
     width: 24.5rem;
    height: 18rem;
     
}
.box8{
    background-color: rgb(12, 2, 63);
     width: 24.5rem;
    height: 18rem;
     
}
.l1{
    color: white;
    text-align: center;
    margin-top: 2rem;
}
.p1{
    color: rgb(18, 18, 18);
}
.block5{
    width: 100%;
    height: 8rem;
    background-color: rgb(12, 2, 63);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.fa-brands{
    color: white;
    font-size: 3rem;
}
.end{
   color: WHITE;
   font-size: 1rem;
   font-family: Georgia, 'Times New Roman', Times, serif;
   margin-top: 5px;
   
}
.p8{
    color: white;
    padding: 10px 10px 10px 10px;
    text-align: center;
}